<launch>
        <node pkg="aftcode2_0" type="motor1.py" name="motor1_test" output="screen"/>
        <node pkg="aftcode2_0" type="motor2_test.py" name="motor2_test" output="screen"/>
        <node pkg="aftcode2_0" type="motor3.py" name="motor3_test" output="screen"/>
        <node pkg="aftcode2_0" type="motor4.py" name="motor4_test" output="screen"/>

</launch>
